@import "./fn";
@import "./theme-default";

.zent-design-editor-add-component {
  box-sizing: border-box;

  // Remove this style
  .zent-design-editor-add-component__mixed {
    padding: 0 5px;

    &-title {
      @include theme-color(color, stroke, 1);
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
    }

    &-list {
      @include clearfix;

      padding-right: 5px;
    }

    &-btn-wrapper {
      float: left;
      padding-left: 5px;
      margin-bottom: 10px;
      height: 40px;
      width: 20%;
      box-sizing: border-box;
    }

    &-btn {
      @include theme-border(1px, solid, stroke, 6);
      @include theme-color(color, primary, 4);
      @include theme-color(background, stroke, 9);
      font-size: 12px;
      box-sizing: border-box;
      border-radius: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
    }
  }

  .zent-design-editor-add-component__grouped {
    padding: 0 5px 0 10px;

    &-title {
      font-size: 12px;
      margin-bottom: 8px;
      margin-top: 13px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-btn-wrapper {
      box-sizing: border-box;
      flex: 0 0 33.33%;
      height: 30px;
      margin-bottom: 5px;
      padding-right: 5px;
    }

    &-btn {
      @include theme-border(1px, dashed, stroke, 6);
      @include theme-color(color, stroke, 2);
      @include theme-color(background, stroke, 8);
      box-sizing: border-box;
      font-size: 12px;
      border-radius: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      br {
        display: none;
      }
    }
  }

  .zent-design-editor-add-component-btn-wrapper {
    &:hover {
      .zent-design-editor-add-component__mixed-btn {
        @include theme-color(color, primary, 4);

        &--disabled {
          @include theme-color(color, stroke, 4);
        }
      }

      .zent-design-editor-add-component__grouped-btn {
        @include theme-color(background, primary, 8);
        @include theme-color(border-color, primary, 5);
        @include theme-color(color, primary, 4);

        &--disabled {
          @include theme-color(color, stroke, 4);
          @include theme-color(background, stroke, 8);
          @include theme-color(border-color, stroke, 5);
        }
      }
    }

    .zent-design-editor-add-component__mixed-btn--disabled {
      cursor: not-allowed;
      @include theme-color(background, stroke, 8);
      @include theme-color(color, stroke, 4);
    }

    .zent-design-editor-add-component__grouped-btn--disabled {
      @include theme-color(color, stroke, 4);
      cursor: not-allowed;
    }
  }
}

.zent-design-editor-add-component-pop {
  max-width: 250px;
}
