@import './theme-default';
@import './variable';

.zent-design-editor-item {
  @include theme-color(background, stroke, 8);
  @include theme-border(1px, solid, stroke, 6);

  position: absolute;
  left: 100%;
  top: 0;
  padding: 15px;
  min-height: 28px;
  border-radius: 5px;
  width: 420px;
  margin-left: 20px;
  font-size: 12px;
  box-sizing: border-box;
  z-index: 5;

  a {
    @include theme-color(color, primary, 4);
    text-decoration: none;
    cursor: pointer;
  }

  &:after,
  &:before {
    right: 100%;
    top: 20px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: transparent;
    @include theme-color(border-right-color, stroke, 8);
    border-width: 6px;
    margin-top: -6px;
  }

  &:before {
    border-color: transparent;
    @include theme-color(border-right-color, stroke, 6);
    border-width: 7px;
    margin-top: -7px;
  }

  &.zent-design-add-component-overlay {
    width: $preview-width;
    box-sizing: content-box;
    padding: 0 0 10px;
    margin-top: -20px;

    &.zent-design-add-component-overlay--bottom {
      top: 100%;
    }

    &.zent-design-add-component-overlay--top {
      top: 0;
    }
  }
}
