@import "./variable";
@import "./theme-default";

.zent-design-preview {
  @include theme-border(1px, solid, stroke, 6);
  width: $preview-width;
  min-height: $preview-height;
  position: relative;

  .zent-design-add-component-overlay--grouped {
    @include theme-color(background, stroke, 9);

    &:after {
      @include theme-color(border-right-color, stroke, 9);
    }
  }
}
