@import "./design/theme-default";
@import "./design/variable";
@import "./design/preview";
@import "./design/preview-item";
@import "./design/editor-item";
@import "./design/preview-controller";
@import "./design/editor-add-component";
@import "./design/editor";

.zent-design {
  width: 760px;
  text-rendering: optimizelegibility;
  font-family: inherit;

  &__restore-cache-alert {
    margin-bottom: 10px;

    &-use {
      @include theme-color(color, primary, 4);

      text-decoration: none;
      cursor: pointer;
    }
  }

  &__item-list {
    min-height: 304px;
    padding-bottom: 9px;

    &--full-height {
      min-height: $preview-height;
      padding-bottom: 0;
    }
  }

  &__add {
    padding-bottom: 5px;
    position: relative;
    @include theme-border-top(1px, solid, stroke, 6);

    &--mixed {
      @include theme-color(background, stroke, 8);

      &:after {
        @include theme-color(border-bottom-color, stroke, 8);
      }
    }

    &--grouped {
      @include theme-color(background, stroke, 9);

      &:after {
        @include theme-color(border-bottom-color, stroke, 9);
      }
    }
  }

  &__disabled-mask {
    position: absolute;
    z-index: 10;
    background-color: rgba(black, 0.2);
    height: 100%;
    width: 100%;
    cursor: not-allowed;
    top: 0;
    left: 0;
  }
}
